$color-xdark: #21171f;
$color-dark: #474C5E;
$color-medium: #7E818C;
$color-light: #d3cfd7;
$color-bright: #fff;

$mono-bright: #fff;
$mono-light: #eee;
$mono-medium: #444;
$mono-dark: #332E31;
$mono-xdark: #111111;