html,body{
	background: url(../images/background.jpg) no-repeat center top $color-xdark;
	background-size: 1150px;
	margin-bottom: -1.5em;
}
h1,h2,h3{
	color: $mono-dark;
	-webkit-text-shadow: -1px -1px 1px $mono-light;
	-moz-text-shadow: -1px -1px 1px $mono-light;
	-ms-text-shadow: -1px -1px 1px $mono-light;
	text-shadow: -1px -1px 1px $mono-light;
}
header{
	margin-top: 2em;
}
footer{
	text-align: center;
	background: $color-bright;
}

.navbar .brand{
	font-size: 2em;
	padding-bottom: 0;
	margin-left: 0;
	float:none;
	display: block;
	text-align: center;
	font-weight: bold;
	background: none;
	color: $color-bright;

	-webkit-text-shadow: 1px 1px .25em $mono-dark;
	-moz-text-shadow: 1px 1px .25em $mono-dark;
	-ms-text-shadow: 1px 1px .25em $mono-dark;
	text-shadow: 1px 1px .25em $mono-dark;
}
	.navbar .brand::after{
		content: '';
		position: absolute;
		height: 200%;
		width: 33%;
		top: -1em;
		right: 0;
		opacity: .5;
		background: url(../images/notes-right.png) no-repeat center top;
		background-size: 75%;
	}
	.navbar .brand::before{
		content: '';
		position: absolute;
		height: 200%;
		width: 33%;
		top: -1em;
		left: 0;
		opacity: .5;
		background: url(../images/notes-left.png) no-repeat center top;
		background-size: 75%;
	}


.navbar .nav{
	font-size: .75em;
	text-transform: uppercase;
	float: none;
	text-align: center;
	clear: both;
	width: 100%;
}
.navbar .nav>li{
	float: none;
	display: inline-block;
}


.navbar .nav>li>a{
	opacity: .8;
	color: $mono-light;
	text-shadow: 0 0 .5em $color-dark;
	padding: .5em;
}
	.navbar .nav>li>a:hover{
		opacity: 1;
		color: $mono-bright;
		text-shadow: 0 0 10px $mono-xdark;
	}
	.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
		color: $mono-bright;
	}

.navbar-inner{
	padding: 0;
	background: none;
	border: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-ms-box-shadow: none;
	box-shadow: none;
}
.navbar .nav>.active>a, .navbar .nav>.active>a:hover, .navbar .nav>.active>a:focus{
	background: none;
}

.content{
	background: url(../images/background-content.jpg) no-repeat center -6em $mono-light;
	background-size: 700px;
	padding: .25em 1em 2em 1em;
	-webkit-border-radius: .5em .5em 0 0 / .5em .5em 0 0;
	-moz-border-radius: .5em .5em 0 0 / .5em .5em 0 0;
	-ms-border-radius: .5em .5em 0 0 / .5em .5em 0 0;
	border-radius: .5em .5em 0 0 / .5em .5em 0 0;
}


footer.navbar{
	background: $color-xdark;
	box-shadow: 0 -3px 3.5em $color-xdark, 0 -1px 0 0 $color-bright;
}
	footer ul li{
		width: 10%;
		padding: .5em;
		background: $color-xdark;
		margin-top: -1em;
		display: inline-block;
		color: $color-light;
		text-align: center;

		-webkit-border-radius: 50%;
		-moz-border-radius: 50%;
		-ms-border-radius: 50%;
		border-radius: 50%;
		-webkit-box-shadow: 0 0 .25em $color-xdark;
		-moz-box-shadow: 0 0 .25em $color-xdark;
		-ms-box-shadow: 0 0 .25em $color-xdark;
		box-shadow: 0 0 .25em $color-xdark;
	}
	footer ul li a{
		color: $color-light;
		text-decoration: none;
		text-shadow: 0 0 5px $mono-medium;
	}
		footer ul li a:hover{
			color: $mono-bright;
			text-decoration: none;
		}
	footer ul li i{
		font-size: 150%;
		text-align: center;
		display: block;
	}