@media screen and (max-width: 699px){
	header{
		margin-top: .5em;
	}
	.navbar{
		margin: 0;
	}
	.navbar .brand::before,.navbar .brand::after{
		display: none;
	}
	.navbar .nav > li{
		font-size: 1.5em;
	}
	.navbar .brand{
		padding-bottom: .25em;
		border-bottom: solid 3px $color-medium;
	}
	.page-header{
		margin: .25em auto auto auto;
	}


	.dateGroup{
		width: 100%;
		float: none;
		display: block;
		background: none;
		padding: 0;
		margin: 0;
		box-shadow: none;
		text-align: center;
	}
		.dateGroup::after{
			content: '';
			position: absolute;
			border: none;
		}
	.month{
		display: inline;
		text-transform: uppercase;
	}
	.year{
		display: inline;
	}

	.postGroup{
		width: 100%;
		float: none;
	}


	footer ul li a div{
		visibility: hidden;
	}
}